@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #025202;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0.5rem;
}

header section {
    margin: 0.5rem;
}

header section input {
    margin-right: 10px;
}

#logo > img {
    width: 260px;
}

nav {
    margin: 0.5rem;
}

nav ul {
    padding: 0.5rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav li {
    padding-right: 0.5rem;
}

main {
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

article section {
    margin: 10px;
}

.carousel {
    width: 100vw;
}

.carousel img {
    max-width: 100%;
    object-fit: contain;
}

figure img {
    width: 100%;
}

figure figcaption {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

footer {
    margin: 0.5rem;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center; 
}


@media only screen and (min-width: 768px) {
    article section {
        flex: 1 1 23%;
    }
   
    .carousel {
        width: 70vw;
        margin: 0 auto;
    }

  }
