
.footer {
    background-color: $primary-light-color;
    color: $light-text-color;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
}

.footer__text {
  margin: 0;
  text-align: center;
  padding-top: 15px;
}
