.sprites {
    background-image: url('http://www.trenatics.com/public/images/iconfile/sprites/css-sprite/sprite-action-grey600.png');
    background-repeat: no-repeat;
    width: 442px;
    height: 442px;
}
